<div class="container flex justify-center items-center min-h-screen">
    <div class="row flex justify-center mt-8">
        
        <% if (!contact) { %>
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">Danger alert!</span> Kontak tidak ada di dalam database 
              <% }else { %>
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= contact.nama %></h5>
            </a>
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= contact.noHp %></h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= contact.email %></p>
            <td class="">
                <form action="/contact?_method=DELETE" method="post" class="d-inline">
                    <input type="hidden" name="nama" value="<%= contact.nama %>">
                    <button onclick="confirm('yakin?')" class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300" type="submit">Hapus</button>
                </form>
                <!-- <a onclick="return confirm('yakin?')" href="/contact/delete/<%= (contact.oldNama) ? contact.oldNama : contact.nama%>">
                    <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hapus</span>
                </a> -->
            </td>
            <td class="">
                <a href="/contact/edit/<%= contact.nama %>">
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Edit</span>
                </a>
            </td>
            <a href="/contact" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Kembali ke daftar contact
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <% } %>
        </div>

    </div>
</div>
